.ipad-card {
  width: 100%;
  height: 559px;
  background-color: red;
  border-radius: 15px;
  background: linear-gradient(
    90deg,
    rgba(44, 55, 75, 0.2) 0%,
    rgba(231, 231, 229, 0.2) 50%,
    rgba(218, 117, 46, 0.2) 100%
  );
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 7.5%;
}

.bih-im-cooler-than-a-cooler-shout-out-to-my-jeweller-hit-a-lick-been-rich-ever-since-im-a-rich-ninja-hallelujah {
  width: 909px;
  height: 476px;
}

.ipad-card-content {
  display: flex;
  flex-direction: column;
  text-align: right;
  align-items: flex-end;
  gap: 7rem;
}

.ipad-card-title {
  font-size: 7.25rem;
  font-weight: 700;
}

.ipad-card-text {
  font-size: 2.25rem;
  font-weight: 500;
  letter-spacing: -0.05rem;
  line-height: 0.9;
}
