.iphone-page {
  height: calc(330vh - 84px);
  width: 100%;
  padding: 0.75rem 0.75rem;
  background-color: white;
}

.slider-iphone-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: -5rem;
}

@media (max-width: 768px) {
  .iphone-page {
    height: auto;
    padding: 12px;
  }

  .slider-iphone-page {
    margin-top: 0;
    align-items: center;
  }
}